body {
    background-image: url(Hubble_ultra_deep_field_high_rez_edit1.jpg);
    background-color: azure;
    text-align: justify;
    
}

#content {
    width: 600px;
    border: 5px solid rgb(228, 159, 11);
    margin-left: 1000px;
    padding: 10px;
    background-color: wheat;
    border-radius: 10px;
    margin-bottom: 50px;
}

#content2 {
    width: 600px;
    border: 5px solid rgb(228, 159, 11);
    margin-left: 100px;
    padding: 10px;
    background-color: wheat;
    border-radius: 10px;
}

#content3 {
    width: 500px;
    border: 5px solid rgb(228, 159, 11);
    margin-left: 1200px;
    padding: 10px;
    background-color: wheat;
    border-radius: 10px;
    margin-top: 50px;
}

img {
    width: 300px;
    border-radius: 10px;
}